{#
    Displays the installer main content

    To see available variables:
        - without enabling Twig debug mode: {{ var_dump() }}
        - using native Twig debugger (Debug mode must be enabled): {{ dump() }}

    @package GPL Cart core
    @author Iurii Makukh <gplcart.software@gmail.com>
    @copyright Copyright (c) 2015, Iurii Makukh
    @license https://www.gnu.org/licenses/gpl.html GNU/GPLv3
    @link http://gplcart.com Support, modules, demo
#}
<body class="install">
  <div class="container">
    <form method="post" class="form-horizontal" autocomplete="off">
      {% if languages is not empty %}
          <div class="header clearfix text-right">
            <ul class="list-inline">
              {% for code,name in languages %}
                  <li>
                    <a href="{{ url('', {'lang': code}) }}">
                      {{ name[1]|default(name[0]) }}
                    </a>
                  </li>
              {% endfor %}
            </ul>
          </div>
      {% endif %}
      {% if messages is not empty %}
          <div class="row" id="message">
            <div class="col-md-12">
              {% for type,strings in messages %}
                  <div class="alert alert-{{ type }} alert-dismissible fade in">
                    {% for string in strings %}
                        {{ string }}
                    {% endfor %}
                  </div>
              {% endfor %}
            </div>
          </div>
      {% endif %}
      <div class="row">
        <div class="col-md-12">
          {% if installers|length > 1 %}
              <div class="panel panel-default installers">
                <div class="panel-heading">{{ text('Select installer') }}</div>
                <div class="panel-body">
                  {% for installer_id,installer in installers %}
                      <p>
                      <div class="installer title">
                        <a href="{{ installer['url'] }}">{{ installer['title'] }}</a>
                      </div>
                      <div class="installer description">{{ xss(installer['description']) }}</div>
                      </p>
                  {% endfor %}
                </div>
              </div>
          {% else %}
              {% if issues is not empty %}
                  <div class="panel issues panel-{{ severity }}">
                    <div class="panel-heading">{{ text('Issues') }}</div>
                    <div class="panel-body">
                      <table class="table-condensed">
                        <tbody>
                          {% for section,items in requirements %}
                              <tr><td colspan="2"><h4>{{ section|capitalize }}</h4></td></tr>
                                    {% for name,info in items %}
                                <tr class="{{ info['status'] ? '' : 'bg-' ~ info['severity'] }}">
                                  <td>{{ text(info['message']) }}</td>
                                  <td>{{ info['status'] ? text('Yes') : text('No') }}</td>
                                </tr>
                              {% endfor %}
                          {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
              {% endif %}
              {% if issue_severity == 'danger' %}
                  <div class="alert alert-danger">
                    {{ text('Please fix all critical errors in your environment') }}
                  </div>
              {% else %}
                  <div class="panel panel-default database">
                    <div class="panel-heading">{{ text('Database') }}</div>
                    <div class="panel-body">
                      <div class="required form-group{{ error('database.name', ' has-error') }}">
                        <label class="col-md-3 control-label">{{ text('Database name') }}</label>
                        <div class="col-md-6">
                          <input name="settings[database][name]" class="form-control" autocomplete="off" value="{{ settings['database']['name'] ?? '' }}">
                          <div class="help-block">{{ error('database.name') }}</div>
                        </div>
                      </div>
                      <div class="required form-group{{ error('database.user', ' has-error') }}">
                        <label class="col-md-3 control-label">{{ text('Database user') }}</label>
                        <div class="col-md-6">
                          <input name="settings[database][user]" class="form-control" autocomplete="off" value="{{ settings['database']['user'] ?? 'root' }}">
                          <div class="help-block">{{ error('database.user') }}</div>
                        </div>
                      </div>
                      <div class="form-group{{ error('database.password', ' has-error') }}">
                        <label class="col-md-3 control-label">{{ text('Database password') }}</label>
                        <div class="col-md-6">
                          <input type="password" name="settings[database][password]" autocomplete="off" class="form-control" value="{{ settings['database']['password'] ?? '' }}">
                          <div class="help-block">{{ error('database.password') }}</div>
                        </div>
                      </div>
                      {% if error(null, true) is empty %}
                          <div class="form-group">
                            <div class="col-md-6 col-md-offset-3">
                              <a href="#db-advanced" data-toggle="collapse">{{ text('Advanced') }} <span class="caret"></span></a>
                            </div>
                          </div>
                      {% endif %}
                      <div id="db-advanced" class="{{ error(null, '', 'collapse') }}">
                        <div class="form-group">
                          <label class="col-md-3 control-label">{{ text('Database type') }}</label>
                          <div class="col-md-3">
                            <select name="settings[database][type]" class="form-control">
                              <option value="mysql"{{ settings['database']['type'] is defined and settings['database']['type'] == 'mysql' ? ' selected' }}>{{ text('mysql') }}</option>
                              <option value="sqlite"{{ settings['database']['type'] is defined and settings['database']['type'] == 'sqlite' ? ' selected' }}>{{ text('sqlite') }}</option>
                            </select>
                          </div>
                        </div>
                        <div class="required form-group{{ error('database.port', ' has-error') }}">
                          <label class="col-md-3 control-label">{{ text('Database port') }}</label>
                          <div class="col-md-3">
                            <input name="settings[database][port]" class="form-control" value="{{ settings['database']['port'] ?? '3306' }}">
                            <div class="help-block">{{ error('database.port') }}</div>
                          </div>
                        </div>
                        <div class="required form-group{{ error('database.host', ' has-error') }}">
                          <label class="col-md-3 control-label">{{ text('Database host') }}</label>
                          <div class="col-md-6">
                            <input name="settings[database][host]" class="form-control" value="{{ settings['database']['host'] ?? 'localhost'}}">
                            <div class="help-block">{{ error('database.host') }}</div>
                          </div>
                        </div>
                      </div>
                      {% if error('database.connect', true) %}
                          <div class="alert alert-danger">{{ error('database.connect') }}</div>
                      {% endif %}
                    </div>
                  </div>
                  <div class="panel panel-default store">
                    <div class="panel-heading">{{ text('Site') }}</div>
                    <div class="panel-body">
                      <div class="required form-group{{ error('user.email', ' has-error') }}">
                        <label class="col-md-3 control-label">{{ text('E-mail') }}</label>
                        <div class="col-md-6">
                          <input name="settings[user][email]" class="form-control" value="{{ settings['user']['email'] ?? '' }}">
                          <div class="help-block">{{ error('user.email') }}</div>
                        </div>
                      </div>
                      <div class="required form-group{{ error('user.password', ' has-error') }}">
                        <label class="col-md-3 control-label">{{ text('Password') }}</label>
                        <div class="col-md-6">
                          <input type="password" name="settings[user][password]" class="form-control" value="{{ settings['user']['password'] ?? '' }}">
                          <div class="help-block">{{ error('user.password') }}</div>
                        </div>
                      </div>
                      <div class="required form-group{{ error('store.title', ' has-error') }}">
                        <label class="col-md-3 control-label">{{ text('Store title') }}</label>
                        <div class="col-md-6">
                          <input name="settings[store][title]" class="form-control" value="{{ settings['store']['title'] ?? 'GPL Cart' }}">
                          <div class="help-block">{{ error('store.title') }}</div>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-md-3 control-label">{{ text('Timezone') }}</label>
                        <div class="col-md-6">
                          <select name="settings[store][timezone]" class="form-control">
                            {% for value,label in timezones %}
                                <option value="{{ value }}"{{ (settings['store']['timezone'] is defined and settings['store']['timezone'] == value) ? ' selected'}}>{{ label }}</option>
                            {% endfor %}
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12 text-right">
                      <button class="btn btn btn-default" name="install" value="1">{{ text('Install now!') }}</button>
                    </div>
                  </div>
              {% endif %}
          {% endif %}
        </div>
      </div>
    </form>
    <footer class="footer row">
      <div class="col-md-6">
        &copy; 2015 - {{ 'now'|date('Y') }}  GPL Cart.
      </div>
      <div class="col-md-6 text-right">
        <a target="_blank" href="{{ url_licence }}">{{ text('Licenced under GPL') }}</a>
      </div>
    </footer>
  </div>
</body>