{#
    Displays a single file collection item

    To see available variables:
        - without enabling Twig debug mode: {{ var_dump() }}
        - using native Twig debugger (Debug mode must be enabled): {{ dump() }}
    
    @package GPL Cart core
    @category theme
    @author Iurii Makukh <gplcart.software@gmail.com>
    @copyright Copyright (c) 2015, Iurii Makukh
    @license https://www.gnu.org/licenses/gpl.html GNU/GPLv3
#}
{% if file.url is defined and file.url is not empty %}
    <a href="{{ file.url }}"><img alt="{{ file.title }}" src="{{ file.thumb }}"></a>
{% else %}
    <img alt="{{ file.title }}" src="{{ file.thumb }}">
{% endif %}
