{#
    To see available variables:
        - without enabling Twig debug mode: {{ d() }}
        - using native Twig debugger (Debug mode must be enabled): {{ dump() }}
    
    @package GPL Cart core
    @category theme
    @author Iurii Makukh <gplcart.software@gmail.com>
    @copyright Copyright (c) 2015, Iurii Makukh
    @license https://www.gnu.org/licenses/gpl.html GNU/GPLv3
#}
<div class="btn-group btn-group-xs">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <i class="fa fa-share-alt"></i> {{ text('Share') }} <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li>
      <a rel="nofollow" target="_blank" href="{{ url('http://www.facebook.com/sharer.php', {'u': url}, true) }}">
        <i class="fa fa-facebook-official"></i> {{ text('Facebook') }}
      </a>
    </li>
    <li>
      <a rel="nofollow" target="_blank" href="{{ url('https://plus.google.com/share', {'url': url}, true) }}">
        <i class="fa fa-google-plus-square"></i> {{ text('Google+') }}
      </a>
    </li>
    <li>
      <a rel="nofollow" target="_blank" href="{{ url('https://twitter.com/share', {'url': url, 'text': title}, true) }}">
        <i class="fa fa-twitter-square"></i> {{ text('Twitter') }}
      </a>
    </li>
  </ul>
</div>