{#
    Displays main product content

    To see available variables:
        - without enabling Twig debug mode: {{ var_dump() }}
        - using native Twig debugger (Debug mode must be enabled): {{ dump() }}

    @package GPL Cart core
    @author Iurii Makukh <gplcart.software@gmail.com>
    @copyright Copyright (c) 2015, Iurii Makukh
    @license https://www.gnu.org/licenses/gpl.html GNU/GPLv3
    @link http://gplcart.com Support, modules, demo
#}
<div class="row section product-main">
  <div class="col-md-8 left">
    <h1 class="h4">{{ product['title'] }}</h1>
    <div class="row section rating">
      <div class="col-md-12">{{ rating|raw }}</div>
    </div>
    <div class="row section images">
      <div class="col-md-8">{{ images|raw }}</div>
    </div>
    {% if product['description'] is not empty %}
    <div class="row section description">
      <div class="col-md-12">
        {{ xss(product['description']) }}
      </div>
    </div>
   {% endif %}
  </div>
  <div class="col-md-4 right">
          <div class="well">
    <div id="price" class="h4">{{ product['price_formatted'] }}</div>
    <p>{{ text('SKU') }}: <span id="sku" class="small">{{ product['sku'] }}</span></p>
    {{ cart_form|raw }}   
            
        </div>

    {{ share|raw }}
  </div>
</div>
{% if related is defined and related is not empty %}
    {{ related|raw }}
{% endif %}
{% if recent is defined and recent is not empty %}
    {{ recent|raw }}
{% endif %}
{% if reviews is defined and reviews is not empty %}
    {{ reviews|raw }}
{% endif %}