{#
    To see available variables:
        - without enabling Twig debug mode: {{ d() }}
        - using native Twig debugger (Debug mode must be enabled): {{ dump() }}

    @package GPL Cart core
    @author Iurii Makukh <gplcart.software@gmail.com>
    @copyright Copyright (c) 2015, Iurii Makukh
    @license https://www.gnu.org/licenses/gpl.html GNU/GPLv3
    @link http://gplcart.com Support, modules, demo
#}
<div class="row section product-main">
  <div class="col-md-8 left">
    <h1 class="h4">{{ product['title'] }}</h1>
    <div class="row section rating">
      <div class="col-md-12">
        {{ rating|raw }}
        {% if product['total_reviews'] %}
            <a href="#reviews">{{ text('@num reviews', {'@num': product['total_reviews']}) }}</a>
        {% endif %}
        {{ share|raw }}
      </div>
    </div>
    <div class="row section images">
      <div class="col-md-8">{{ images|raw }}</div>
    </div>
    {% if product['description'] %}
        <div class="row section description">
          <div class="col-md-12">
            {{ xss(product['description']) }}
          </div>
        </div>
    {% endif %}
  </div>
  <div class="col-md-4 right">
    <div class="panel add-to-cart panel-default">
      <div class="panel-body">
        <s id="original-price">
          {% if product['selected_combination']['original_price'] is defined and product['selected_combination']['original_price'] > product['selected_combination']['price'] %}
              {{ product['selected_combination']['original_price_formatted'] }}
          {% endif %}
        </s>
        <div id="price" class="h4">{{ product['selected_combination']['price_formatted'] }}</div>
        <p>{{ text('SKU') }}: <span id="sku" class="small">{{ product['selected_combination']['sku'] }}</span></p>
          {{ cart_form|raw }}
      </div>
    </div>
  </div>
</div>
{% if pane_related is defined and pane_related %}
    {{ pane_related|raw }}
{% endif %}
{% if pane_recent is defined and pane_recent %}
    {{ pane_recent|raw }}
{% endif %}
{% if pane_reviews is defined and pane_reviews %}
    {{ pane_reviews|raw }}
{% endif %}