{#
    Displays <head> section

    To see available variables:
        - without enabling Twig debug mode: {{ var_dump() }}
        - using native Twig debugger (Debug mode must be enabled): {{ dump() }}
    
    @package GPL Cart core
    @category theme
    @author Iurii Makukh <gplcart.software@gmail.com>
    @copyright Copyright (c) 2015, Iurii Makukh
    @license https://www.gnu.org/licenses/gpl.html GNU/GPLv3
#}
<head>
  {% for tag in meta %}
      <meta{{ attributes(tag)|raw }}>
  {% endfor %}
  <title>{{ head_title }}</title>
  {% for data in css %}
      <link href="{{ data.key }}" rel="stylesheet">
  {% endfor %}
  {% for data in js_top %}
      {% if data.text is not empty %}
          {% if data.asset is not empty %}
              {% if data.condition is not empty %}
                  <!--[{{ data.condition }}]>
                  <script>{{ data.asset|raw }}</script>
                  <![endif]-->
              {% else %}
                  <script>{{ data.asset|raw }}</script>
              {% endif %}
          {% endif %}
      {% else %}
          {% if data.condition is not empty %}
              <!--[{{ data.condition }}]>
              <script src="{{ data.key }}"></script>
              <![endif]-->
          {% else %}
              <script src="{{ data.key }}"></script>
          {% endif %}
      {% endif %}
  {% endfor %}
</head>