{#
    Displays "Site under construction" page

    To see available variables:
        - without enabling Twig debug mode: {{ d() }}
        - using native Twig debugger (Debug mode must be enabled): {{ dump() }}
    
    @package GPL Cart core
    @category theme
    @author Iurii Makukh <gplcart.software@gmail.com>
    @copyright Copyright (c) 2015, Iurii Makukh
    @license https://www.gnu.org/licenses/gpl.html GNU/GPLv3
#}
<!DOCTYPE html>
<html>
  <head>
    <title>{{ text('Site maintenance') }}</title>
  </head>
  <body>
    <h1>{{ text("We'll be back soon!") }}</h1>
    <p>{{ text("Sorry for the inconvenience but we're performing some maintenance at the moment.") }}</p>
  </body>
</html>