{#
    Displays the login pane on the checkout page

    To see available variables:
        - without enabling Twig debug mode: {{ d() }}
        - using native Twig debugger (Debug mode must be enabled): {{ dump() }}

    @package GPL Cart core
    @author Iurii Makukh <gplcart.software@gmail.com>
    @copyright Copyright (c) 2015, Iurii Makukh
    @license https://www.gnu.org/licenses/gpl.html GNU/GPLv3
    @link http://gplcart.com Support, modules, demo
#}
{% if error('login', true) %}
    <div class="alert alert-danger alert-dismissible clearfix">
      <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
      </button>
      {{ error('login') }}
    </div>
{% endif %}
<div class="form-group{{ error('order.user.email', ' has-error') }}">
  <label class="col-md-2 control-label">{{ text('E-mail') }}</label>
  <div class="col-md-4">
    <input class="form-control" name="order[user][email]" value="{{ order['user']['email'] ?? '' }}" autofocus>
    <div class="help-block">{{ error('order.user.email') }}</div>
  </div>
</div>
<div class="form-group">
  <label class="col-md-2 control-label">{{ text('Password') }}</label>
  <div class="col-md-4">
    <input type="password" class="form-control" name="order[user][password]" value="">
  </div>
</div>
<div class="form-group">
  <div class="col-md-offset-2 col-md-4">
    <button class="btn btn-default" name="login" value="1">{{ text('Log in') }}</button>
    <button class="btn btn-default" name="checkout_anonymous" value="1">{{ text('Continue as guest') }}</button>
  </div>
</div>