{#
    Displays the payment methods pane on the checkout page

    To see available variables:
        - without enabling Twig debug mode: {{ var_dump() }}
        - using native Twig debugger (Debug mode must be enabled): {{ dump() }}

    @package GPL Cart core
    @author Iurii Makukh <gplcart.software@gmail.com>
    @copyright Copyright (c) 2015, Iurii Makukh
    @license https://www.gnu.org/licenses/gpl.html GNU/GPLv3
    @link http://gplcart.com Support, modules, demo
#}
<div class="panel panel-default">
  <div class="panel-heading">{{ text('Payment') }}</div>
  <div class="panel-body">
    <div class="form-group">
      <div class="col-md-12">
        {% for method_id,method in payment_methods %}
            <div class="radio">
              <label>
                {% if method['image'] is defined and method['image'] is not empty %}
                    <img class="img-responsive" src="{{ url(method['image'], {}, true) }}">
                {% endif %}
                <input type="radio" name="order[payment]" value="{{ method_id }}"{{ (order['payment'] is defined and order['payment'] == method_id) ? ' checked' : '' }}> {{ method['title'] }}
              </label>
            </div>
        {% endfor %}
        {% if error('payment', true) and error('payment') is not iterable %}
            <div class="alert alert-danger alert-dismissible">
              <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden="true">&times;</span>
              </button>
              {{ error('payment') }}
            </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
