{#
    Displays the order review pane on the checkout page

    To see available variables:
        - without enabling Twig debug mode: {{ d() }}
        - using native Twig debugger (Debug mode must be enabled): {{ dump() }}

    @package GPL Cart core
    @author Iurii Makukh <gplcart.software@gmail.com>
    @copyright Copyright (c) 2015, Iurii Makukh
    @license https://www.gnu.org/licenses/gpl.html GNU/GPLv3
    @link http://gplcart.com Support, modules, demo
#}
<div class="panel panel-checkout panel-default review">
  <div class="panel-heading">{{ text('Review') }}</div>
  <div class="panel-body">
    {% if messages['cart'] is defined and messages['cart'] is not empty %}
        {% for severity,text in messages['cart'] %}
            <div class="alert alert-{{ severity }} alert-dismissible">
              <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden="true">&times;</span>
              </button>
              {{ text|raw }}
            </div>
        {% endfor %}
    {% endif %}
    {% for sku,item in cart['items'] %}
        <div class="form-group{{ error('cart.items.' ~ sku, ' has-error') }}">
          <div class="col-md-2">
            <a target="_blank" href="{{ url('product/' ~ item['product']['product_id']) }}">
              <img class="img-responsive thumbnail" src="{{ item['thumb'] }}">
            </a>
          </div>
          <div class="col-md-6">
            <a target="_blank" href="{{ url('product/' ~ item['product']['product_id']) }}">
              {{ truncate(item['product']['title'], 50) }}
            </a>
            <br>
            <span class="sku">{{ text('SKU') }} : {{ item['sku'] }}</span><br>
            <span class="price">
              {{ text('Price') }} :
              {% if item['original_price'] is defined and item['original_price'] > item['price'] %}
                  <s>{{ item['original_price_formatted'] }}</s>
                  {% endif %}
                  {{ item['price_formatted'] }}
            </span>
            <div>
              <div class="input-group">
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default hidden-non-js" data-spinner="-">
                    <span class="fa fa-minus"></span>
                  </button>
                </span>
                <input data-min="1" data-max="99" class="form-control text-center quantity" name="order[cart][items][{{ sku }}][quantity]" value="{{ item['quantity'] }}">
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default hidden-non-js" data-spinner="+">
                    <span class="fa fa-plus"></span>
                  </button>
                </span>
                <span class="input-group-btn hidden-js">
                  <button title="{{ text('Update') }}" class="btn btn-default" name="update" value="1">
                    <i class="fa fa-refresh"></i>
                  </button>
                </span>
              </div>
            </div>
            <div>{{ text('Amount') }} : {{ item['total_formatted'] }}</div>
          </div>
          <div class="col-md-3">
            <div class="btn-toolbar">
              <button title="{{ text('Delete') }}" class="btn btn-default" name="order[cart][action][delete]" value="{{ item['cart_id'] }}">
                <i class="fa fa-trash"></i>
              </button>
              {% if not admin %}
                  <button title="{{ text('Move to wishlist') }}" class="btn btn-default" name="order[cart][action][wishlist]" value="{{ sku }}">
                    <i class="fa fa-star"></i>
                  </button>
              {% endif %}
            </div>
          </div>
        </div>
    {% endfor %}
    <div class="form-group">
      <div class="col-md-12">
        <table class="table table-borderless price-components">
          {% if price_components %}
              <tr>
                <td>{{ text('Subtotal') }}</td>
                <td>{{ cart['total_formatted'] }}</td>
              </tr>
          {% endif %}
          {% for id, price_component in price_components %}
              <tr>
                <td>
                  {{ price_component['name'] }}
                  <input type="hidden" name="order[data][components][{{ id }}]" value="{{ price_component['price'] }}">
                </td>
                <td>
                  {% if price_component['rule']['code'] is defined and price_component['rule']['code'] != '' %}
                      <div class="form-group col-md-8{{ error('check_pricerule', ' has-error') }}">
                        <div class="input-group">
                          <input class="form-control col-md-2" name="order[data][pricerule_code]" placeholder="{{ text('Enter code') }}" value="{{ order['data']['pricerule_code'] ?? '' }}">
                          <span class="input-group-btn">
                            <button class="btn btn-default" data-block-if-empty="order[data][pricerule_code]" name="check_pricerule" value="{{ id }}">{{ text('Apply') }}</button>
                          </span>
                        </div>
                        {% if price_component['price'] != 0 %}
                            {{ price_component['price_formatted'] }}
                        {% endif %}
                      </div>
                  {% else %}    
                      {{ price_component['price_formatted'] }}
                  {% endif %}
                </td>
              </tr>
          {% endfor %}
          <tr>
            <td><b>{{ text('Grand total') }}</b></td>
            <td>
              {% if admin %}
                  <input class="form-control" name="order[total]" value="{{ total_decimal }}">
              {% else %}
              <input type="hidden" name="order[total]" value="{{ total }}">
              <b>{{ total_formatted }}</b>
                  {% endif %}
            </td>
          </tr>
        </table>
      </div>
    </div>
    {% if messages['components'] is defined and messages['components'] is not empty %}
        {% for severity,text in messages['components'] %}
            <div class="alert alert-{{ severity }} alert-dismissible">
              <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden="true">&times;</span>
              </button>
              {{ text|raw }}
            </div>
        {% endfor %}
    {% endif %}
    <div class="form-group">
      <div class="col-md-12">
        <a href="#" onclick="return false;" data-toggle="collapse" data-target="#order-comments">{{ text('Order comments') }} <span class="caret"></span></a>
          {% if order['comment'] %}
          <textarea name="order[comment]" id="order-comments" class="form-control">{{ order['comment'] }}</textarea>
        {% else %}
            <textarea name="order[comment]" id="order-comments" class="form-control collapse">{{ order['comment'] }}</textarea>
        {% endif %}
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-6">
        <button class="btn btn-success" name="save" value="1">
          {% if admin is not empty %}
              {{ text('Save') }}
          {% else %}
              {{ text('Place order now') }}
          {% endif %}
        </button>
      </div>
    </div>
  </div>
</div>