{#
    Displays the shipping methods pane on the checkout page

    To see available variables:
        - without enabling Twig debug mode: {{ d() }}
        - using native Twig debugger (Debug mode must be enabled): {{ dump() }}

    @package GPL Cart core
    @author Iurii Makukh <gplcart.software@gmail.com>
    @copyright Copyright (c) 2015, Iurii Makukh
    @license https://www.gnu.org/licenses/gpl.html GNU/GPLv3
    @link http://gplcart.com Support, modules, demo
#}
<div class="panel panel-checkout shipping-methods panel-default">
  <div class="panel-heading">
    {{ text('Shipping') }}
    <noscript>
    <button title="{{ text('Update') }}" class="btn btn-default btn-xs pull-right" name="update" value="1"><i class="fa fa-refresh"></i></button>
    </noscript>
  </div>
  <div class="panel-body">
    {% if error('shipping', true) and error('shipping') is not iterable %}
        <div class="alert alert-danger alert-dismissible">
          <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">&times;</span>
          </button>
          {{ error('shipping') }}
        </div>
    {% endif %}
    <div class="form-group">
      <div class="col-md-12">
        {% for method_id,method in shipping_methods %}
            <div class="radio">
              <label>
                {% if method['image'] is defined and method['image'] is not empty %}
                    <img class="img-responsive" src="{{ method['image'] }}">
                {% endif %}
                <input type="radio" name="order[shipping]" value="{{ method_id }}"{{ (order['shipping'] is defined and order['shipping'] == method_id) ? ' checked'}}>
                {{ method['title'] }}
                {% if method['description'] is defined and method['description'] is not empty %}
                    <div class="description small">{{ method['description']|e('html') }}</div>
                {% endif %}
              </label>
            </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>