{#
    Displays the register user form

    To see available variables:
        - without enabling Twig debug mode: {{ var_dump() }}
        - using native Twig debugger (Debug mode must be enabled): {{ dump() }}

    @package GPL Cart core
    @author Iurii Makukh <gplcart.software@gmail.com>
    @copyright Copyright (c) 2015, Iurii Makukh
    @license https://www.gnu.org/licenses/gpl.html GNU/GPLv3
    @link http://gplcart.com Support, modules, demo
#}
<div class="panel panel-body">
  <div class="panel-body">
    <form method="post" class="register form-horizontal">
      {{ honeypot|raw }}
      <input type="hidden" name="token" value="{{ token() }}">
      <div class="form-group{{ error('name', ' has-error') }}">
        <label class="control-label col-md-2">{{ text('Name') }}</label>
        <div class="col-md-4">
          <input class="form-control" maxlength="255" name="user[name]" value="{{  user['name'] ?? '' }}">
          <div class="help-block">{{ error('name') }}</div>
        </div>
      </div>
      <div class="form-group{{ error('email', ' has-error') }}">
        <label class="control-label col-md-2">{{ text('E-mail') }}</label>
        <div class="col-md-4">
          <input type="email" class="form-control" name="user[email]" value="{{ user['email'] ?? '' }}" autofocus>
          <div class="help-block">{{ error('email') }}</div>
        </div>
      </div>
      <div class="form-group{{ error('password', ' has-error') }}">
        <label class="control-label col-md-2">{{ text('Password') }}</label>
        <div class="col-md-4">
          <input class="form-control" type="password" name="user[password]">
          <div class="help-block">
            {{ error('password') }}
            <div class="text-muted">
              {% if password_limit['min'] is not empty %}
                  {{ text('Minimum length: %min characters', {'%min': password_limit['min']}) }}
              {% endif %}
              {% if password_limit['max'] is not empty %}
                  {{ text('Maximum length: %max characters', {'%max': password_limit['max']}) }}
              {% endif %}
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-4 col-md-offset-2 text-right">
          <button class="btn btn-default" name="register" value="1">
            {{ text('Register') }}
          </button>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-4 col-md-offset-2">
          <ul class="list-inline">
            <li><a href="{{ url('login') }}">{{ text('Login') }}</a></li>
            <li><a href="{{ url('forgot') }}">{{ text('Forgot password') }}</a></li>
          </ul>
        </div>
      </div>
    </form>
  </div>
</div>