{#
    Displays the module settings page

    To see available variables:
        - without enabling Twig debug mode: {{ var_dump() }}
        - using native Twig debugger (Debug mode must be enabled): {{ dump() }}

    @package GPL Cart core
    @author Iurii Makukh <gplcart.software@gmail.com>
    @copyright Copyright (c) 2015, Iurii Makukh
    @license https://www.gnu.org/licenses/gpl.html GNU/GPLv3
    @link http://gplcart.com Support, modules, demo
#}
<form method="post" class="module-settings frontend-settings form-horizontal">
  <input type="hidden" name="token" value="{{ token() }}">
  <div class="panel panel-default">
    <div class="panel-heading">{{ text('Twig') }}</div>
    <div class="panel-body">
      <div class="form-group">
        <label class="col-md-2 control-label">{{ text('Debug mode') }}</label>
        <div class="col-md-4">
          <div class="checkbox">
            <label>
              <input type="checkbox" name="settings[twig][debug]" value="1"{{ settings['twig']['debug'] is defined and settings['twig']['debug'] ? ' checked' : '' }}> {{ text('Enabled') }}
            </label>
          </div>
          <div class="help-block">
            <div class="text-muted">
              {{ text('If enabled you can use native Twig debugger to see available variables in templates {{ dump }}. Otherwise use built-in tool {{ var_dump }} which is probably better') }}
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-2 control-label">{{ text('Auto reload') }}</label>
        <div class="col-md-4">
          <div class="checkbox">
            <label>
              <input type="checkbox" name="settings[twig][auto_reload]" value="1"{{ settings['twig']['auto_reload'] is defined and settings['twig']['auto_reload'] ? ' checked' }}> {{ text('Enabled') }}
            </label>
          </div>
          <div class="help-block">
            <div class="text-muted">
              {{ text('Recompile Twig template whenever the source code changes. Should be disabled in production!') }}
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-2 control-label">{{ text('Strict variables') }}</label>
        <div class="col-md-4">
          <div class="checkbox">
            <label>
              <input type="checkbox" name="settings[twig][strict_variables]" value="1"{{ settings['twig']['strict_variables'] is defined and settings['twig']['strict_variables'] ? ' checked' : '' }}> {{ text('Enabled') }}
            </label>
          </div>
          <div class="help-block">
            <div class="text-muted">
              {{ text('If enabled Twig will throw exceptions on invalid variables. Should be disabled in production!') }}
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-2 control-label">
          {{ text('Cache') }}
        </label>
        <div class="col-md-3">
          <input name="settings[twig][cache]" class="form-control" value="{{ settings['twig']['cache'] }}">
          <div class="help-block">
            <div class="text-muted">
              {{ text('A folder within the module directory to keep compiled Twig templates. Recommended name - "cache". If the folder does not exist, it will be created. If not specified, caching will be disabled, which is bad for performance') }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">{{ text('Options') }}</div>
    <div class="panel-body">
      <div class="form-group{{ error('catalog_limit', ' has-error') }}">
        <label class="col-md-2 control-label">
          {{ text('Catalog product limit') }}
        </label>
        <div class="col-md-3">
          <input name="settings[catalog_limit]" class="form-control" value="{{ settings['catalog_limit'] }}">
          <div class="help-block">
            {{ error('catalog_limit') }}
            <div class="text-muted">
              {{ text('Number of products per page in the product catalog') }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">{{ text('Images') }}</div>
    <div class="panel-body">
      <div class="form-group">
        <label class="col-md-2 control-label">{{ text('Category page') }}</label>
        <div class="col-md-4">
          <select name="settings[image_style_category]" class="form-control">
            {% for id,name in imagestyles %}
                <option value="{{ id }}"{{ (settings['image_style_category'] == id) ? ' selected' : '' }}>{{ name }}</option>
            {% endfor %}
          </select>
          <div class="help-block">
            {{ text('An <a href="@href">image style</a> for first category image on the category page', {'@href': url('admin/settings/imagestyle')}) }}
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-2 control-label">{{ text('Category page (child)') }}</label>
        <div class="col-md-4">
          <select name="settings[image_style_category_child]" class="form-control">
            {% for id,name in imagestyles %}
                <option value="{{ id }}"{{ (settings['image_style_category_child'] == id) ? ' selected' : '' }}>{{ name }}</option>
            {% endfor %}
          </select>
          <div class="help-block">
            {{ text('An <a href="@href">image style</a> for child categories (if any) on the category page', {'@href': url('admin/settings/imagestyle')}) }}
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-2 control-label">{{ text('Product page') }}</label>
        <div class="col-md-4">
          <select name="settings[image_style_product]" class="form-control">
            {% for id,name in imagestyles %}
                <option value="{{ id }}"{{ (settings['image_style_product'] == id) ? ' selected' : '' }}>{{ name }}</option>
            {% endfor %}
          </select>
          <div class="help-block">
            {{ text('An <a href="@href">image style</a> for main (i.e first) image on the product page', {'@href': url('admin/settings/imagestyle')}) }}
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-2 control-label">{{ text('Page') }}</label>
        <div class="col-md-4">
          <select name="settings[image_style_page]" class="form-control">
            {% for id,name in imagestyles %}
                <option value="{{ id }}"{{ (settings['image_style_page'] == id) ? ' selected' : '' }}>{{ name }}</option>
            {% endfor %}
          </select>
          <div class="help-block">
            {{ text('An <a href="@href">image style</a> for page images', {'@href': url('admin/settings/imagestyle')}) }}
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-2 control-label">{{ text('Product catalog (grid)') }}</label>
        <div class="col-md-4">
          <select name="settings[image_style_product_grid]" class="form-control">
            {% for id,name in imagestyles %}
                <option value="{{ id }}"{{ (settings['image_style_product_grid'] == id) ? ' selected' : '' }}>{{ name }}</option>
            {% endfor %}
          </select>
          <div class="help-block">
            {{ text('An <a href="@href">image style</a> for products in catalog and blocks when "grid" view is selected', {'@href': url('admin/settings/imagestyle')}) }}
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-2 control-label">{{ text('Product catalog (list)') }}</label>
        <div class="col-md-4">
          <select name="settings[image_style_product_list]" class="form-control">
            {% for id,name in imagestyles %}
                <option value="{{ id }}"{{ (settings['image_style_product_list'] == id) ? ' selected' : '' }}>{{ name }}</option>
            {% endfor %}
          </select>
          <div class="help-block">
            {{ text('An <a href="@href">image style</a> for products in catalog and blocks when "list" view is selected', {'@href': url('admin/settings/imagestyle')}) }}
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-2 control-label">{{ text('Cart') }}</label>
        <div class="col-md-4">
          <select name="settings[image_style_cart]" class="form-control">
            {% for id,name in imagestyles %}
                <option value="{{ id }}"{{ (settings['image_style_cart'] == id) ? ' selected' : '' }}>{{ name }}</option>
            {% endfor %}
          </select>
          <div class="help-block">
            {{ text('An <a href="@href">image style</a> for products in the shopping cart', {'@href': url('admin/settings/imagestyle')}) }}
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-2 control-label">{{ text('Product option') }}</label>
        <div class="col-md-4">
          <select name="settings[image_style_option]" class="form-control">
            {% for id,name in imagestyles %}
                <option value="{{ id }}"{{ (settings['image_style_option'] == id) ? ' selected' : '' }}>{{ name }}</option>
            {% endfor %}
          </select>
          <div class="help-block">
            {{ text('An <a href="@href">image style</a> for product options on the product page', {'@href': url('admin/settings/imagestyle')}) }}
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-2 control-label">{{ text('Collection (banners)') }}</label>
        <div class="col-md-4">
          <select name="settings[image_style_collection_banner]" class="form-control">
            {% for id,name in imagestyles %}
                <option value="{{ id }}"{{ (settings['image_style_collection_banner'] == id) ? ' selected' : '' }}>{{ name }}</option>
            {% endfor %}
          </select>
          <div class="help-block">
            {{ text('An <a href="@href">image style</a> for banners in the <a href="@href2">file collections</a>', {'@href': url('admin/settings/imagestyle'), '@href2': url('admin/content/collection')}) }}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row">
        <div class="col-md-2">
          <button class="btn btn-danger reset" name="reset" value="1" onclick="return confirm(GplCart.text('Are you sure?'));">
            <i class="fa fa-refresh"></i> {{ text('Reset') }}
          </button>
        </div>
        <div class="col-md-10">
          <div class="btn-toolbar">
            <a href="{{ url('admin/module/list') }}" class="btn btn-default cancel">
              <i class="fa fa-reply"></i> {{ text('Cancel') }}
            </a>
            <button class="btn btn-default save" name="save" value="1">
              <i class="fa fa-floppy-o"></i> {{ text('Save') }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
