{#
    Displays the checkout form

    To see available variables:
        - without enabling Twig debug mode: {{ d() }}
        - using native Twig debugger (Debug mode must be enabled): {{ dump() }}

    @package GPL Cart core
    @author Iurii Makukh <gplcart.software@gmail.com>
    @copyright Copyright (c) 2015, Iurii Makukh
    @license https://www.gnu.org/licenses/gpl.html GNU/GPLv3
    @link http://gplcart.com Support, modules, demo
#}
{% if cart['items'] is not defined or cart['items'] is empty %}
    <div class="row">
      <div class="col-md-12">
        {{ text('Shopping cart is empty.') }}
        {% if access('order_add') %}
            <p>{{ text('If you want to add a new order for a customer, add all needed products to your cart then add an order for a <a href="@href">user</a>. Your cart items will be assigned to that user.', {'@href': url('admin/user/list')}) }}</p>
        {% endif %}
      </div>
    </div>
{% else %}
    <form method="post" class="form-horizontal" id="checkout">
      <input type="hidden" name="token" value="{{ prop('token') }}">
      <noscript>
      <div class="alert alert-warning">
        {{ text('Your browser seems to have JavaScript disabled. You should press <button title="@title" class="btn btn-default btn-xs" name="update" value="1"><i class="fa fa-refresh"></i></button> each time you make changes in the form', {'@title': text('Update')}) }}
      </div>
      </noscript>
      <div class="row">
        <div class="col-md-12">
          {% if login_form %}
              {{ pane_login|raw }}
          {% elseif not user('user_id') %}
              <div class="form-group">
                <label class="col-md-2 control-label">{{ text('Already registered?') }}</label>
                <div class="col-md-4">
                  <button class="btn btn-default form-control" name="checkout_login" value="1">
                    {{ text('Click to login') }}
                  </button>
                </div>
              </div>
          {% endif %}
        </div>
      </div>
      {% if not login_form %}
          <div class="row">
            <div class="col-md-4">
              {% if pane_shipping_address is defined and pane_shipping_address %}
                  {{ pane_shipping_address|raw }}
              {% endif %}
              {% if pane_payment_address is defined and pane_payment_address %}
                  {{ pane_payment_address|raw }}
              {% endif %}
            </div>
            {% if shipping_methods or payment_methods %}
                <div class="col-md-3">
                  <div class="form-group">
                    <div class="col-md-12">
                      {% if shipping_methods %}
                          {{ pane_shipping_methods|raw }}
                      {% endif %}
                      {% if payment_methods  %}
                          {{ pane_payment_methods|raw }}
                      {% endif %}
                    </div>
                  </div>
                </div>
            {% endif %}
            <div class="col-md-5">
              {% if pane_review is defined and pane_review %}
                  {{ pane_review|raw }}
              {% endif %}
            </div>
          </div>
      {% endif %}
    </form>
{% endif %}
