{#
    To see available variables:
        - without enabling Twig debug mode: {{ d() }}
        - using native Twig debugger (Debug mode must be enabled): {{ dump() }}

    @package GPL Cart core
    @author Iurii Makukh <gplcart.software@gmail.com>
    @copyright Copyright (c) 2015, Iurii Makukh
    @license https://www.gnu.org/licenses/gpl.html GNU/GPLv3
    @link http://gplcart.com Support, modules, demo
#}
{% if rule is empty %}
<tr>
  <td colspan="2"><span class="text-danger">{{ text('Unknown') }}</span></td>
</tr>
{% else %}
<tr class="active"></tr>
<tr>
  <td>
    {% if rule['name'] is empty %}
        <span class="text-danger">{{ text('Unknown') }}</span>
    {% else %}
        {{ text(rule['name']) }}
    {% endif %}
  </td>
  <td>{{ price }}</td>
</tr>
{% endif %}
