{#
    Displays the add to cart form

    To see available variables:
        - without enabling Twig debug mode: {{ var_dump() }}
        - using native Twig debugger (Debug mode must be enabled): {{ dump() }}

    @package GPL Cart core
    @author Iurii Makukh <gplcart.software@gmail.com>
    @copyright Copyright (c) 2015, Iurii Makukh
    @license https://www.gnu.org/licenses/gpl.html GNU/GPLv3
    @link http://gplcart.com Support, modules, demo
#}
<form method="post" class="add-to-cart form-horizontal">
  <input type="hidden" name="token" value="{{ token() }}">
  <input type="hidden" name="product[product_id]" value="{{ product.product_id }}">
  {% if product.field.option is defined and product.field.option is not empty %}
  <table class="table-condensed">
    {% for field_id,field_values in product.field.option %}
        {% if field_data.option[field_id] is defined %}
            <tr>
              <td class="middle">{{ field_data.option[field_id].title }}</td>
              <td>
                <div class="option-field-wrapper" id="option-field-{{ field_id }}">
                  {% if field_data.option[field_id].widget == 'image' %}
                      {# image widget #}
                      {% for field_value_id in field_values %}
                          {% if field_data['option'][field_id]['values'][field_value_id] is defined and field_data['option'][field_id]['values'][field_value_id]['thumb'] is defined %}
                              <label class="option-wrapper image" data-field-value-id="{{ field_value_id }}" title="{{ field_data['option'][field_id]['values'][field_value_id]['title'] }}">
                                <input class="option" data-field-id="{{ field_id }}" data-field-value-id="{{ field_value_id }}" type="radio" name="product[options][{{ field_id }}]" value="{{ field_value_id }}">
                                <img src="{{ field_data['option'][field_id]['values'][field_value_id]['thumb'] }}">
                              </label>
                          {% endif %}
                      {% endfor %}
                  {% elseif field_data.option[field_id].widget == 'color' %}
                      {# color widget #}
                      {% for field_value_id in field_values %}
                          {% if field_data['option'][field_id]['values'][field_value_id] is defined %}
                              <label class="option-wrapper color" data-field-value-id="{{ field_value_id }}" title="{{ field_data['option'][field_id]['values'][field_value_id]['title'] }}">
                                <input class="option" data-field-id="{{ field_id }}" data-field-value-id="{{ field_value_id }}" type="radio" name="product[options][{{ field_id }}]" value="{{ field_value_id }}">
                                <span style="background-color:{{ field_data['option'][field_id]['values'][field_value_id]['color'] }}"></span>
                              </label>
                          {% endif %}
                      {% endfor %}
                  {% elseif field_data.option[field_id].widget == 'radio' %}
                      {# radio buttons widget #}
                      {% for field_value_id in field_values %}
                          {% if field_data['option'][field_id]['values'][field_value_id] is defined %}
                              <label class="option-wrapper radio" data-field-value-id="{{ field_value_id }}" title="{{ field_data['option'][field_id]['values'][field_value_id]['title'] }}">
                                {{ field_data['option'][field_id]['values'][field_value_id]['title'] }}
                                <input class="option" data-field-id="{{ field_id }}" data-field-value-id="{{ field_value_id }}" id="option-{{ field_value_id }}" type="radio" name="product[options][{{ field_id }}]" value="{{ field_value_id }}">
                              </label>  
                          {% endif %}
                      {% endfor %}
                  {% elseif field_data.option[field_id].widget == 'select' %}
                      {# dropdown widget #}
                      <select class="form-control" name="product[options][{{ field_id }}]">
                        {% for field_value_id in field_values %}
                            {% if field_data['option'][field_id]['values'][field_value_id] is defined %}
                                <option data-field-id="{{ field_id }}" data-field-value-id="{{ field_value_id }}" value="{{ field_value_id }}">
                                  {{ field_data['option'][field_id]['values'][field_value_id]['title'] }}
                                </option>
                            {% endif %}
                        {% endfor %}
                      </select>
                  {% endif %}
                </div>
              </td>
            </tr>
        {% endif %}
    {% endfor %}
  </table>
  {% endif %}
  <button name="add_to_cart" value="1" data-ajax="true" class="btn btn-success add-to-cart"{{ cart_access ? ' disabled'}}>
    {{ text('Add to cart') }}
  </button>
  <div id="combination-message" style="display:none;"></div>
</form>
