{#
    Displays the add to cart form

    To see available variables:
        - without enabling Twig debug mode: {{ d() }}
        - using native Twig debugger (Debug mode must be enabled): {{ dump() }}

    @package GPL Cart core
    @author Iurii Makukh <gplcart.software@gmail.com>
    @copyright Copyright (c) 2015, Iurii Makukh
    @license https://www.gnu.org/licenses/gpl.html GNU/GPLv3
    @link http://gplcart.com Support, modules, demo
#}
<form method="post" class="add-to-cart">
  <input type="hidden" name="token" value="{{ prop('token') }}">
  <input type="hidden" name="product[product_id]" value="{{ product.product_id }}">
  {% if field_data.option is defined and field_data.option is not empty %}
      {% for field_id, field in field_data.option %}
          {% if product.field.option[field_id] is defined and product.field.option[field_id] is not empty %}
              <div class="form-group field-widget-{{ field['widget'] }} field-id-{{ field_id }}">
                <label class="title">{{ field.title }}</label>
                {% if field.widget == 'button' %}
                    {% for field_value_id in product.field.option[field_id] %}
                        {% if field['values'][field_value_id] is defined %}
                            <label class="option-combination field-widget-button" title="{{ field['values'][field_value_id]['title'] }}">
                              <input class="option" data-field-id="{{ field_id }}" data-field-title="{{ field['values'][field_value_id]['title'] }}" data-field-value-id="{{ field_value_id }}" type="checkbox" name="product[options][{{ field_id }}]" value="{{ field_value_id }}"{{ field_value_id in product['default_field_values'] ? ' checked' }}>
                              {% if field['values'][field_value_id]['thumb'] is defined and field['values'][field_value_id]['thumb'] %}
                                  <span class="btn btn-default image has-value" title="{{ field['values'][field_value_id]['title'] }}" style="background-image: url({{ field['values'][field_value_id]['thumb'] }})"></span>
                              {% elseif field['values'][field_value_id]['color'] %}
                                  <span class="btn btn-default has-value" title="{{ field['values'][field_value_id]['title'] }}" style="background-color:{{ field['values'][field_value_id]['color'] }}"></span>
                              {% else %}  
                                  <span class="btn btn-default">
                                    {{ field['values'][field_value_id]['title'] }}
                                  </span>
                              {% endif %}
                            </label>
                        {% endif %}
                    {% endfor %}
                {% elseif field.widget == 'radio' %}
                    <div class="radio">
                      <label class="option-combination field-widget-radio" title="{{ text('Any') }}">
                        <input class="option" data-field-id="{{ field_id }}" name="product[options][{{ field_id }}]" type="radio" value="">
                        {{ text('Any') }}
                      </label>
                    </div>
                    {% for field_value_id in product.field.option[field_id] %}
                        {% if field['values'][field_value_id] is defined %}
                            <div class="radio">
                              <label class="option-combination field-widget-radio" title="{{ field['values'][field_value_id]['title'] }}">
                                <input class="option" data-field-id="{{ field_id }}" data-field-title="{{ field['values'][field_value_id]['title'] }}" data-field-value-id="{{ field_value_id }}" id="option-{{ field_value_id }}" type="radio" name="product[options][{{ field_id }}]" value="{{ field_value_id }}"{{ field_value_id in product['default_field_values'] ? ' checked' }}>
                                {{ field['values'][field_value_id]['title'] }}
                              </label>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% elseif field.widget == 'select' %}
                    <select class="form-control option-combination" data-field-id="{{ field_id }}" name="product[options][{{ field_id }}]">
                      <option data-field-id="{{ field_id }}" value="">{{ text('Any') }}</option>
                      {% for field_value_id in product.field.option[field_id] %}
                          {% if field['values'][field_value_id] is defined %}
                              <option data-field-id="{{ field_id }}" data-field-title="{{ field['values'][field_value_id]['title'] }}" data-field-value-id="{{ field_value_id }}" value="{{ field_value_id }}"{{ field_value_id in product['default_field_values'] ? ' selected' }}>
                                {{ field['values'][field_value_id]['title'] }}
                              </option>
                          {% endif %}
                      {% endfor %}
                    </select>
                {% endif %}
              </div>
          {% endif %}
      {% endfor %}
  {% endif %}
  <p class="selected-combination"></p>
  <button name="add_to_cart" value="1" data-ajax="true" class="btn btn-success btn-block add-to-cart"{{ product['selected_combination']['cart_access'] ? '' : ' disabled'}}>
    {{ text('Add to cart') }}
  </button>
  <div class="message">{{ product['selected_combination']['message']|raw }}</div>
</form>
