{#
    To see available variables:
        - without enabling Twig debug mode: {{ d() }}
        - using native Twig debugger (Debug mode must be enabled): {{ dump() }}

    @package GPL Cart core
    @author Iurii Makukh <gplcart.software@gmail.com>
    @copyright Copyright (c) 2015, Iurii Makukh
    @license https://www.gnu.org/licenses/gpl.html GNU/GPLv3
    @link http://gplcart.com Support, modules, demo
#}
<div class="row">
  <div class="col-md-6">
    <form method="post" class="form-horizontal">
      {{ honeypot|raw }}
      <input type="hidden" name="token" value="{{ prop('token') }}">
      <div class="form-group">
        <div class="col-md-12">{{ rating|raw }}</div>
      </div>
      <div class="form-group required{{ error('text', ' has-error') }}">
        <div class="col-md-12">
          <textarea class="form-control" name="review[text]">{{ review['text'] ?? '' }}</textarea>
          <div class="help-block">{{ error('text') }}</div>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-2">
          {% if can_delete %}
              <button class="btn btn-danger" name="delete" value="1" onclick="return confirm(GplCart.text('Are you sure?'));">{{ text('Delete') }}</button>
          {% endif %}
        </div>
        <div class="col-md-10 text-right">
          <a class="btn btn-default" href="{{ url('product/' ~ product['product_id']) }}">{{ text('Cancel') }}</a>
          <button class="btn btn-default" name="save" value="1">{{ text('Save') }}</button>
        </div>
      </div>
    </form>
  </div>
</div>

