{#
    Displays a rating widget

    To see available variables:
        - without enabling Twig debug mode: {{ d() }}
        - using native Twig debugger (Debug mode must be enabled): {{ dump() }}
    
    @package GPL Cart core
    @category theme
    @author Iurii Makukh <gplcart.software@gmail.com>
    @copyright Copyright (c) 2015, Iurii Makukh
    @license https://www.gnu.org/licenses/gpl.html GNU/GPLv3
#}
<div id="star-rating-{{ product.product_id }}" class="star-rating dinamic">
  <div class="star-rating-wrap">
    {% if unvote is not empty %}
    <input class="star-rating-input unvote" id="star-rating-0" name="review[rating]" type="radio" value="0">
    <label class="star-rating-ico fa fa-times-circle unvote" for="star-rating-0" title="{{ text('Unvote') }}"></label>
    {% endif %}
    <input class="star-rating-input" id="star-rating-5" type="radio" name="review[rating]" value="5"{{ (review.rating is defined and review.rating == 5) ? ' checked'}}>
    <label class="star-rating-ico fa fa-star-o" for="star-rating-5" title="{{ text('@num out of @total stars', {'@num': 5, '@total': 5}) }}"></label>
    <input class="star-rating-input" id="star-rating-4" type="radio" name="review[rating]" value="4"{{ (review.rating is defined and review.rating == 4) ? ' checked'}}>
    <label class="star-rating-ico fa fa-star-o" for="star-rating-4" title="{{ text('@num out of @total stars', {'@num': 4, '@total': 5}) }}"></label>
    <input class="star-rating-input" id="star-rating-3" type="radio" name="review[rating]" value="3"{{ (review.rating is defined and review.rating == 3) ? ' checked'}}>
    <label class="star-rating-ico fa fa-star-o" for="star-rating-3" title="{{ text('@num out of @total stars', {'@num': 3, '@total': 5}) }}"></label>
    <input class="star-rating-input" id="star-rating-2" type="radio" name="review[rating]" value="2"{{ (review.rating is defined and review.rating == 2) ? ' checked'}}>
    <label class="star-rating-ico fa fa-star-o" for="star-rating-2" title="{{ text('@num out of @total stars', {'@num': 2, '@total': 5}) }}"></label>
    <input class="star-rating-input" id="star-rating-1" type="radio" name="review[rating]" value="1"{{ (review.rating is defined and review.rating == 1) ? ' checked'}}>
    <label class="star-rating-ico fa fa-star-o" for="star-rating-1" title="{{ text('@num out of @total stars', {'@num': 1, '@total': 5}) }}"></label>
  </div>
</div>
<script>
$(function () {
    $('.star-rating-ico').tooltip();
});
</script>
