{#
    Displays a single search autocomplete suggestion

    To see available variables:
        - without enabling Twig debug mode: {{ var_dump() }}
        - using native Twig debugger (Debug mode must be enabled): {{ dump() }}

    @package GPL Cart core
    @author Iurii Makukh <gplcart.software@gmail.com>
    @copyright Copyright (c) 2015, Iurii Makukh
    @license https://www.gnu.org/licenses/gpl.html GNU/GPLv3
    @link http://gplcart.com Support, modules, demo
#}
<span class="media suggestion small" data-url="{{ url('product/' ~ product['product_id']) }}">
  <span class="media-left">
    <img class="media-object" src="{{ product['thumb'] }}">
  </span>
  <span class="media-body">
    <span class="media-heading title">
      {{ product['title'] }}
    </span>
    <span class="price">
      {{ product['price_formatted'] }}
    </span>
  </span>
</span>