{#
    To see available variables:
        - without enabling Twig debug mode: {{ d() }}
        - using native Twig debugger (Debug mode must be enabled): {{ dump() }}

    @package GPL Cart core
    @author Iurii Makukh <gplcart.software@gmail.com>
    @copyright Copyright (c) 2015, Iurii Makukh
    @license https://www.gnu.org/licenses/gpl.html GNU/GPLv3
    @link http://gplcart.com Support, modules, demo
#}
{% if reviews %}
    <div id="reviews" class="panel panel-default panel-borderless reviews">
      <div class="panel-heading clearfix">
        {{ text('Reviews') }}
        {% if config('review_editable', 1) and prop('uid') %}
            <a class="pull-right" rel="nofollow" href="{{ url('review/add/' ~ product['product_id']) }}">
              {{ text('Add review') }}
            </a>
        {% endif %}
      </div>
      <div class="panel-body">
        <div class="row">
          {% for review in reviews %}
              <div class="col-md-12">
                <div class="media">
                  <div class="media-body">
                    <div class="media-heading">
                      <div class="rating">{{ review['rating_formatted']|raw }}</div>
                      <b class="name">{{ review['name'] }}</b>
                      <span class="text-muted small">{{ date(review['created']) }}</span>
                      {% if review['user_id'] == prop('uid') and config('review_editable', 1) %}
                          <a href="{{ url('review/edit/' ~ product['product_id'] ~ '/' ~ review['review_id']) }}">
                            {{ text('Edit')|lower }}
                          </a>
                      {% endif %}
                    </div>
                    <p class="text">{{ review['text'] }}</p>
                  </div>
                </div>
              </div>
          {% endfor %}
        </div>
        <div class="row">
          <div class="col-md-6">
            {{ pager|raw }}
          </div>
          <div class="col-md-6 text-right">
            {% if config('review_editable', 1) and prop('uid') %}
                <a class="pull-right" rel="nofollow" href="{{ url('review/add/' ~ product['product_id']) }}">
                  {{ text('Add review') }}
                </a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
{% endif %}
