{#
    Displays the product comparison page

    To see available variables:
        - without enabling Twig debug mode: {{ var_dump() }}
        - using native Twig debugger (Debug mode must be enabled): {{ dump() }}

    @package GPL Cart core
    @author Iurii Makukh <gplcart.software@gmail.com>
    @copyright Copyright (c) 2015, Iurii Makukh
    @license https://www.gnu.org/licenses/gpl.html GNU/GPLv3
    @link http://gplcart.com Support, modules, demo
#}
{% if products|length > 1 %}
    <div class="row">
      {%if attribute_fields is not empty and option_fields is not empty %}
          <div class="col-md-12 text-right">
            <label>
              <input type="checkbox" id="compare-difference"> {{ text('Show only difference') }}
            </label>
          </div>
      {% endif %}
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="table-responsive">
          <table class="table compare products">
            <tr>
              <td></td>
              {% for product_id,product in products %}
                  <td><div class="row products">{{ product['rendered']|raw }}</div></td>
                  {% endfor %}
            </tr>
            {% if attribute_fields is not empty %}
                {% for attribute_field_id,attribute_field_title in attribute_fields %}
                    <tr class="togglable">
                      <td class="active">{{ attribute_field_title }}</td>
                      {% for product in products %}
                          {% if product['attribute_values'][attribute_field_id] is defined %}
                              <td class="value">{{ product['attribute_values'][attribute_field_id] }}</td>
                          {% else %}
                              <td class="value"></td>
                          {% endif %}
                      {% endfor %}
                    </tr>
                {% endfor %}
            {% endif %}
            {% if option_fields is not empty %}
                {% for option_field_id,option_field_title in option_fields %}
                    <tr class="togglable">
                      <td class="active">{{ option_field_title }}</td>
                      {% for product in products %}
                          {% if product['option_values'][option_field_id] is defined %}
                              <td class="value">{{ product['option_values'][option_field_id]|join(',') }}</td>
                          {% else %}
                              <td class="value"></td>
                          {% endif %}
                      {% endfor %}
                    </tr>
                {% endfor %}
            {% endif %}
          </table>
        </div>
      </div>
    </div>
{% else %}
    <div class="row">
      <div class="col-md-12">{{ text('Nothing to compare') }}</div>
    </div>
{% endif %}
