{#
    Displays the edit address page

    To see available variables:
        - without enabling Twig debug mode: {{ d() }}
        - using native Twig debugger (Debug mode must be enabled): {{ dump() }}

    @category theme
    @package GPL Cart core
    @author Iurii Makukh <gplcart.software@gmail.com>
    @copyright Copyright (c) 2015, Iurii Makukh
    @license https://www.gnu.org/licenses/gpl.html GNU/GPLv3
    @link http://gplcart.com Support, modules, demo
#}
<div class="row">
  <div class="col-md-3">
    <div class="list-group">
      <a href="{{ url('account/' ~ user.user_id) }}" class="list-group-item">
        <h4 class="list-group-item-heading h5"><b>{{ truncate(user.name, 20) }}</b></h4>
        <p class="list-group-item-text">{{ user.email }}</p>
      </a>
      <a href="{{ url('account/' ~ user.user_id ~ '/address') }}" class="list-group-item active disabled">
        <h4 class="list-group-item-heading h5">{{ text('Addresses') }}</h4>
        <p class="list-group-item-text">{{ text('View and manage addressbook') }}</p>
      </a>
      <a href="{{ url('account/' ~ user.user_id ~ '/edit') }}" class="list-group-item">
        <h4 class="list-group-item-heading h5">{{ text('Settings') }}</h4>
        <p class="list-group-item-text">{{ text('Edit account details') }}</p>
      </a>
    </div>
    <a class="btn btn-default" href="{{ url('logout') }}">
      <span class="fa fa-sign-out"></span> {{ text('Log out') }}
    </a>
  </div>
  <div class="col-md-9">
    <div id="address-form-wrapper">
      {{ address_form|raw }}
    </div>
  </div>
</div>