{#
    Displays a list of user addresses

    To see available variables:
        - without enabling Twig debug mode: {{ d() }}
        - using native Twig debugger (Debug mode must be enabled): {{ dump() }}

    @package GPL Cart core
    @author Iurii Makukh <gplcart.software@gmail.com>
    @copyright Copyright (c) 2015, Iurii Makukh
    @license https://www.gnu.org/licenses/gpl.html GNU/GPLv3
    @link http://gplcart.com Support, modules, demo
#}
<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-3">
        <div class="list-group">
          <a href="{{ url('account/' ~ user.user_id) }}" class="list-group-item">
            <h4 class="list-group-item-heading h5"><b>{{ truncate(user.name, 20) }}</b></h4>
            <p class="list-group-item-text">{{ user.email }}</p>
          </a>
          <a href="{{ url('account/' ~ user.user_id ~ '/address') }}" class="list-group-item active disabled">
            <h4 class="list-group-item-heading h5">{{ text('Addresses') }}</h4>
            <p class="list-group-item-text">{{ text('View and manage addressbook') }}</p>
          </a>
          {% if user('user_id') == user['user_id'] or access('user_edit') %}
              <a class="list-group-item" href="{{ url('account/' ~ user.user_id ~ '/edit') }}">
                <h4 class="list-group-item-heading h5">{{ text('Settings') }}</h4>
                <p class="list-group-item-text">{{ text('Edit account details') }}</p>
              </a>
          {% endif %}
        </div>
        {% if user('user_id') == user['user_id'] %}
            <a class="btn btn-default" href="{{ url('logout') }}">
              <span class="fa fa-sign-out"></span> {{ text('Log out') }}
            </a>
        {% endif %}
      </div>
      <div class="col-md-9">
        {% if addresses is not empty %}
            <div class="row addresses">
              {% for address_id,address in addresses %}
                  <div class="col-md-4">
                    <div class="panel panel-default address">
                      <div class="panel-heading clearfix">
                        {% if user('user_id') == user['user_id'] or access('user_edit') %}
                            <a class="btn btn-default btn-sm pull-right" title="{{ text('Delete') }}" href="{{ url(false, {'delete': address_id}) }}">
                              <i class="fa fa-trash"></i>
                            </a>
                        {% endif %}
                      </div>
                      <div class="panel-body">
                        <table class="table table-condensed address">
                          {% for label,value in address %}
                              <tr>
                                <td>{{ label}}</td>
                                <td>{{ value }}</td>
                              </tr>
                          {% endfor %}
                        </table>
                      </div>
                    </div>
                  </div>
              {% endfor %}
            </div>
        {% endif %}
        <div class="row">
          <div class="col-md-12">
            {% if addresses is empty %}
                {% if user('user_id') == user['user_id'] %}
                    <p>{{ text('You have no saved addresses yet') }}</p>
                {% endif %}
            {% endif %}
            {% if user('user_id') == user['user_id'] or access('user_edit') %}
                <a class="btn btn-default" href="{{ url('account/' ~ user.user_id ~ '/address/add') }}">
                  {{ text('Add new address') }}
                </a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
