{#
    To see available variables:
        - without enabling Twig debug mode: {{ d() }}
        - using native Twig debugger (Debug mode must be enabled): {{ dump() }}

    @package GPL Cart core
    @author Iurii Makukh <gplcart.software@gmail.com>
    @copyright Copyright (c) 2015, Iurii Makukh
    @license https://www.gnu.org/licenses/gpl.html GNU/GPLv3
    @link http://gplcart.com Support, modules, demo
#}
<div class="row order-details">
  <div class="col-md-3">
    <div class="list-group">
      <a href="{{ url('account/' ~ user.user_id) }}" class="list-group-item active disabled">
        <h4 class="list-group-item-heading h5"><b>{{ truncate(user.name, 20) }}</b></h4>
        <p class="list-group-item-text">{{ user.email }}</p>
      </a>
      <a href="{{ url('account/' ~ user.user_id ~ '/address') }}" class="list-group-item">
        <h4 class="list-group-item-heading h5">{{ text('Addresses') }}</h4>
        <p class="list-group-item-text">{{ text('View and manage addressbook') }}</p>
      </a>
      {% if user('user_id') == user['user_id'] or access('user_edit') %}
          <a class="list-group-item" href="{{ url('account/' ~ user.user_id ~ '/edit') }}">
            <h4 class="list-group-item-heading h5">{{ text('Settings') }}</h4>
            <p class="list-group-item-text">{{ text('Edit account details') }}</p>
          </a>
      {% endif %}
    </div>
    {% if user('user_id') == user['user_id'] %}
        <a class="btn btn-default" href="{{ url('logout') }}">
          <span class="fa fa-sign-out"></span> {{ text('Log out') }}
        </a>
    {% endif %}
  </div>
  <div class="col-md-9">
    <div class="row">
      <div class="{{ pane_payment_address ? 'col-md-4' : 'col-md-6' }}">
        {{ pane_summary|raw }}
      </div>
      <div class="{{ pane_payment_address ? 'col-md-4' : 'col-md-6' }}">
        {{ pane_shipping_address|raw }}
      </div>
      {% if pane_payment_address %}
          <div class="col-md-4">
            {{ pane_payment_address|raw }}
          </div>
      {% endif %}
    </div>
    <div class="row">
      <div class="col-md-12">{{ pane_components|raw }}</div>
    </div>
  </div>
</div>
