{#
    User account index page

    To see available variables:
        - without enabling Twig debug mode: {{ d() }}
        - using native Twig debugger (Debug mode must be enabled): {{ dump() }}

    @package GPL Cart core
    @author Iurii Makukh <gplcart.software@gmail.com>
    @copyright Copyright (c) 2015, Iurii Makukh
    @license https://www.gnu.org/licenses/gpl.html GNU/GPLv3
    @link http://gplcart.com Support, modules, demo
#}
<div class="row account">
  <div class="col-md-3">
    <div class="list-group">
      <a class="list-group-item active disabled">
        <h4 class="list-group-item-heading h5"><b>{{ truncate(user.name, 20) }}</b></h4>
        <p class="list-group-item-text">{{ user.email }}</p>
      </a>
      <a href="{{ url('account/' ~ user.user_id ~ '/address') }}" class="list-group-item">
        <h4 class="list-group-item-heading h5">{{ text('Addresses') }}</h4>
        <p class="list-group-item-text">{{ text('View and manage addressbook') }}</p>
      </a>
      {% if user('user_id') == user['user_id'] or access('user_edit') %}
          <a class="list-group-item" href="{{ url('account/' ~ user.user_id ~ '/edit') }}">
            <h4 class="list-group-item-heading h5">{{ text('Settings') }}</h4>
            <p class="list-group-item-text">{{ text('Edit account details') }}</p>
          </a>
      {% endif %}
    </div>
    {% if user('user_id') == user['user_id'] %}
        <a class="btn btn-default" href="{{ url('logout') }}">
          <span class="fa fa-sign-out"></span> {{ text('Log out') }}
        </a>
    {% endif %}
  </div>
  <div class="col-md-9">
    {% if user['status'] == 0 and access('user') %}
        <div class="alert alert-warning" role="alert">
          {{ text('This account is inactive') }}
        </div>
    {% endif %}
    {% if orders is not empty %}
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>{{ text('ID') }}</th>
                <th>{{ text('Created') }}</th>
                <th>{{ text('Modified') }}</th>
                <th>{{ text('Status') }}</th>
                <th>{{ text('Total') }}</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              {% for order_id, order in orders %}
                  <tr>
                    <td>{{ order.order_id }}</td>
                    <td>{{ date(order.created) }}</td>
                    <td>
                      {% if order.modified %}
                          {{ date(order.modified) }}
                      {% else %}
                          {{ text('Never') }}
                      {% endif %}
                    </td>
                    <td>{{ order.status_name }}</td>
                    <td>{{ order.total_formatted }}</td>
                    <td>
                      <a href="{{ url('account/' ~ order['user_id'] ~ '/order/' ~ order['order_id']) }}">
                        {{ text('View')|lower }}
                      </a>
                    </td>
                  </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        {{ pager|raw }}
    {% else %}
        {% if user('user_id') == user['user_id'] %}
            {{ text('You have no orders yet. <a href="!href">Shop now</a>', {'!href': url('/')})|raw }}
        {% endif %}
    {% endif %}
  </div>
</div>
