{#
    Edit accout settings page

    To see available variables:
        - without enabling Twig debug mode: {{ var_dump() }}
        - using native Twig debugger (Debug mode must be enabled): {{ dump() }}

    @package GPL Cart core
    @author Iurii Makukh <gplcart.software@gmail.com>
    @copyright Copyright (c) 2015, Iurii Makukh
    @license https://www.gnu.org/licenses/gpl.html GNU/GPLv3
    @link http://gplcart.com Support, modules, demo
#}
<div class="row">
  <div class="col-md-3">
    <div class="list-group">
      <a href="{{ url('account/' ~ user.user_id) }}" class="list-group-item">
        <h4 class="list-group-item-heading h5"><b>{{ truncate(user.name, 20) }}</b></h4>
        <p class="list-group-item-text">{{ user.email }}</p>
      </a>
      <a href="{{ url('account/' ~ user.user_id ~ '/address') }}" class="list-group-item">
        <h4 class="list-group-item-heading h5">{{ text('Addresses') }}</h4>
        <p class="list-group-item-text">{{ text('View and manage addressbook') }}</p>
      </a>
      <a class="list-group-item active disabled" href="{{ url('account/' ~ user.user_id ~ '/edit') }}">
        <h4 class="list-group-item-heading h5">{{ text('Settings') }}</h4>
        <p class="list-group-item-text">{{ text('Edit account details') }}</p>
      </a>
    </div>
    <a class="btn btn-default" href="{{ url('logout') }}">
      <span class="fa fa-sign-out"></span> {{ text('Log out') }}
    </a>
  </div>
  <div class="col-md-9">
    <form method="post" id="edit-account" class="form-horizontal edit-account">
      <input type="hidden" name="token" value="{{ token() }}">
      <div class="form-group required{{ error('email', ' has-error') }}">
        <label class="col-md-3 control-label">{{ text('E-mail') }}</label>
        <div class="col-md-6">
          <input name="user[email]" class="form-control" value="{{ user.email|default('') }}">
          <div class="help-block">{{ error('email') }}</div>
        </div>
      </div>
      <div class="form-group required{{ error('name', ' has-error') }}">
        <label class="col-md-3 control-label">{{ text('Name') }}</label>
        <div class="col-md-6">
          <input name="user[name]" maxlength="255" class="form-control" value="{{ user.name|default('') }}">
          <div class="help-block">{{ error('name') }}</div>
        </div>
      </div>
      <div class="form-group{{ error('password', ' has-error') }}">
        <label class="col-md-3 control-label">{{ text('New password') }}</label>
        <div class="col-md-6">
          <input type="password" name="user[password]" autocomplete="new-password" class="form-control">
          <div class="help-block">{{ error('password') }}</div>
        </div>
      </div>
      <div class="form-group{{ error('password_old', ' has-error') }}">
        <label class="col-md-3 control-label">{{ text('Existing password') }}</label>
        <div class="col-md-6">
          <input type="password" name="user[password_old]" autocomplete="new-password" class="form-control">
          <div class="help-block">{{ error('password_old') }}</div>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-6 col-md-offset-3">
          <button class="btn btn-default save" name="save" value="1">
            {{ text('Save') }}
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

