{#
    Displays list of user orders

    To see available variables:
        - without enabling Twig debug mode: {{ d() }}
        - using native Twig debugger (Debug mode must be enabled): {{ dump() }}

    @uses class \gplcart\core\controllers\frontend\Account
    @category theme
    @package GPL Cart core
    @author Iurii Makukh <gplcart.software@gmail.com>
    @copyright Copyright (c) 2015, Iurii Makukh
    @license https://www.gnu.org/licenses/gpl.html GNU/GPLv3
    @link http://gplcart.com Support, modules, demo
#}
<div class="row order-details">
  <div class="col-md-12">
    <table class="table table-auto table-condensed table-striped">
      <caption>{{ text('Shipping address') }}</caption>
      <tbody>
        {% for name,value in shipping_address %}
            <tr>
              <td>{{ name }}</td>
              <td>{{ value }}</td>
            </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="col-md-12">
    <table class="table table-condensed">
      <caption>{{ text('Components') }}</caption>
      <tbody>
        {{ components.cart|default('')|raw }}
        {% if components.rule is not empty %}
            {% for rule in components.rule %}
                {{ rule }}
            {% endfor %}
        {% endif %}
        <tr>
          <td><b>{{ text('Total') }}</b></td>
          <td><b>{{ order.total_formatted }}</b></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
