{#
    To see available variables:
        - without enabling Twig debug mode: {{ d() }}
        - using native Twig debugger (Debug mode must be enabled): {{ dump() }}

    @package GPL Cart core
    @author Iurii Makukh <gplcart.software@gmail.com>
    @copyright Copyright (c) 2015, Iurii Makukh
    @license https://www.gnu.org/licenses/gpl.html GNU/GPLv3
    @link http://gplcart.com Support, modules, demo
#}
<div class="panel panel-default order-shipping-address" data-equal-height="true">
  <div class="panel-heading clearfix">{{ text('Shipping address') }}</div>
  <div class="panel-body">
    <table class="table table-condensed">
      <tbody>
        {% for name,value in order['address_translated']['shipping'] %}
            <tr>
              <td>{{ name }}</td>
              <td>{{ value }}</td>
            </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
