<div class="panel panel-default order-summary" data-equal-height="true">
  <div class="panel-heading clearfix">{{ text('Summary') }}</div>
  <div class="panel-body">
    <table class="table table-condensed">
      <tr>
        <td class="col-md-3">{{ text('Order ID') }}</td>
        <td class="col-md-9">{{ order['order_id'] }}</td>
      </tr>
      <tr>
        <td class="middle">{{ text('Status') }}</td>
        <td>{{ order['status_name'] }}</td>
      </tr>
      <tr>
        <td>{{ text('Shipping') }}</td>
        <td>{{ order['shipping_name'] }}</td>
      </tr>
      <tr>
        <td>{{ text('Payment') }}</td>
        <td>{{ order['payment_name'] }}</td>
      </tr>
      <tr>
        <td>{{ text('Created') }}</td>
        <td>{{ date(order['created']) }}</td>
      </tr>
      {% if order['modified'] %}
      <tr>
        <td>{{ text('Last modified') }}</td>
        <td>{{ date(order['modified']) }}</td>
      </tr>
      {% endif %}
      {% if order['comment'] %}
      <tr>
        <td>{{ text('Comments') }}</td>
        <td>{{ date(order['comment']) }}</td>
      </tr>
      {% endif %}
    </table>
  </div>
</div>